* {
 margin: 0.1%;
 padding: 0.1%;
} 

main {display: flex;
  	/* justify-content: space-between; */
}


header li{display:inline}
header li a {display:inline-block;
			width:100px;
			background:blue;
			text-align:center;
			color:white;
			text-decoration:none;
			padding:5px;}
header li a:hover{background:#666666;}

#titre{text-align: center;}
#nom{font-size: 200%;
	font-weight: bold;}
#contact {width: 10%;
}
#experiences {width: 65%;}
#competencesFormations{width: 20%;}
#contact, #experiences, #competencesFormations{
		padding : 1%; 
		margin: 1%;
		border: 1px solid #666666;
}

footer{background:#454545;height:90px;}
footer a , li{color:#ffffff;text-decoration:none; }
footer a:hover {color:#a9d0f5; }
footer ul {width:120px;float:left;margin-left:40px;}