*{
	margin : 1%;
}

body {
	background: #cccccc;
}

#main {
	background: #ffffff;
	width: 800px;
	margin: 10px auto;
}

header h1 {
	margin-top: 30px;
}

header div {
	height: 120px;
}

img {
	height: 200px;
	float: left;
	margin: 0 10px 0 0;
}

header img {
	height: 200px;
	float: left;
	margin: 0 10px 0 0;
}

#main>header {
	height: 200px;
}

header li {
	display: inline
}

main>article {
	padding: 10px;
	padding: 10px;
}

h2 {
	line-height: .2em
}

header li a {
	display: inline-block;
	width: 100px;
	background: blue;
	text-align: center;
	color: white;
	text-decoration: none;
	padding: 5px;
}

header li a:hover {
	background: #666666;
}

section {
	margin: 10px;
}

aside {
	float: right;
	width: 150px;
	background: #eeeeee;
	padding: 10px;
	margin: 0 0 20px 10px;
	text-align: justify;
}

article {
	text-align: justify;
	margin: 50px 0;
}




/* exercice 4 */
#container4ab{
    margin-left: 200px;
    margin-right: 200px;
	display: flex;
	justify-content: space-evenly;
}

#exercice4a {
	width: 500px;
	height: 500px;
	background: #BA558E;
	border-radius: 0% 40% 40% 40%;
	border : thick double #9EA7F7;
	/* a mettre à la fin */
	border-width : 30px;
}
#exercice4b {
	width: 550px;
	height: 550px;
	background: radial-gradient( red, blue, green, yellow, red 100% );
}
#container4c{
	display: flex;
	justify-content: center;
    margin-left: 200px;
    margin-right: 200px;
}
#exercice4c {
	width: 550px;
	height: 550px;
	background: #E71CDF;
	box-shadow: 10px 10px 40px 20px gray;
}

/* Exercice 5 session 3*/
#carte{
/* 	margin : 10% ;
	padding : 10%;
	width:80%;
	border : solid rgba(170, 50, 220, .6);
	background-color: white;
	background-image : url("carte_france.png") ;
	background-position:center center; */
	
	margin : 5% ;
	padding : 20%;
	position : block;
	background-image : url("../images/carte_france.png") ;
	background-repeat: no-repeat;
	background-color: white;
	background-size: auto auto;
	background-position:center;	
}
/* #france{
	margin : 5% ;
	padding : 20%;
	background-image : url("../images/carte_france.png") ;
	background-repeat: no-repeat;
	background-color: white;
	background-size: auto auto;
	background-position:center;
} */
.soleil{
	background-image : url("../images/soleil.png") ;
}
.nuageSoleil{
	position : absolute;
	background-image : url("../images/soleil.png"),url("../images/nuage.png") ;
 	top: -00px;
	left: 00px; 
	
}
.paris{
	position : absolute;
 	top: -00px;
	left: 00px; 
}

.lille{
	position : absolute;
 	top: -16.5em;
	left: 20em; 
}
.strasbourg{
	position : absolute;
 	top: -9em;
	left: 27em; 
}
.brest{
	position : absolute;
 	top: -8.5em;
	left: -8em; 
}.a{
	position : absolute;
 	top: -0%;
	left: 0%; 
}
.b{
	position : absolute;
 	top: -0%;
	left: -0%; 
}
.c{
	position : absolute;
 	top: -10%;
	left: -5.5%; 
}


/* footer */
footer {
	background: #454545;
	height: 90px;
}

footer a, li {
	color: #ffffff;
	text-decoration: none;
}

footer a:hover {
	color: #a9d0f5;
}

footer ul {
	width: 120px;
	float: left;
	margin-left: 40px;
}

section header img {
	height: 80px;
	float: right;
	margin-left: 10px;
}
